//-Project: justindeguzman.net
//-Author: Justin de Guzman <justin@justindeguzman.net>

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Justin de Guzman
    link(rel='stylesheet', href='vendor/normalize.css/normalize.css')
    include stylesheets
  body
    block content