//-Project: justindeguzman.net
//-Author: Justin de Guzman <justin@justindeguzman.net>

include partials/mixins

extends partials/layout

block content
  div.container
    div.pull-left
      img(src='images/picture-icon.png')
    div.pull-left.information
      table
        thead
          tr
            th.name Justin de Guzman
        tbody
          tr
            td Computer Science Student at New York University 
          tr
            td
              a(href='mailto:justin@justindeguzman.net') justin@justindeguzman.net
              +spacer
              a(href='resume.pdf', target='_blank') Resume
              +spacer
              a(href='http://github.com/justindeguzman' target='_blank') GitHub